In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("edited_rating.csv")

In [3]:
df.shape

(20000263, 4)

In [4]:
num_users = df["userId"].max()
num_movies = df["movie_idx"].max()
print("users", num_users, "movies", num_movies)

users 138492 movies 26743

In [5]:
df.head(10)

   userId  movieId  rating  movie_idx
0       0        2     3.5          2
1       0       29     3.5         29
2       0       32     3.5         32
3       0       47     3.5         47
4       0       50     3.5         50
5       0      112     3.5        112
6       0      151     4.0        151
7       0      223     4.0        222
8       0      253     4.0        252
9       0      260     4.0        259

In [6]:
num_of_users = 7500
num_of_movies = 1500
user_filter = df['userId'].value_counts()[:num_of_users].index.tolist()
movie_filter = df['movie_idx'].value_counts()[:num_of_movies].index.tolist()

In [7]:
df_small= df[df["userId"].isin(user_filter) & df["movie_idx"].isin(movie_filter)].copy()

In [8]:
df_small.head()

     userId  movieId  rating  movie_idx
960      10        1     4.5          1
961      10       10     2.5         10
962      10       19     3.5         19
963      10       32     5.0         32
964      10       39     4.5         39

In [9]:
user_ids = set(df_small.userId.values)
movie_ids= set(df_small.movie_idx.values)
new_user_id_map = {}
new_movie_id_map = {}
i=0
j=0
for old in user_ids:
  new_user_id_map[old] = i
  i+=1

for old in movie_ids:
  new_movie_id_map[old] = j
  j += 1

In [10]:
new_user_id_map

{65538: 0,
 65541: 1,
 131080: 2,
 10: 3,
 32779: 4,
 131085: 5,
 98321: 6,
 23: 7,
 131099: 8,
 65567: 9,
 53: 10,
 57: 11,
 98370: 12,
 98371: 13,
 131140: 14,
 32843: 15,
 131152: 16,
 98393: 17,
 90: 18,
 98394: 19,
 32860: 20,
 98400: 21,
 103: 22,
 65643: 23,
 131179: 24,
 32878: 25,
 32880: 26,
 115: 27,
 98419: 28,
 131199: 29,
 65665: 30,
 32898: 31,
 131203: 32,
 133: 33,
 65669: 34,
 32905: 35,
 65686: 36,
 131226: 37,
 155: 38,
 65693: 39,
 98463: 40,
 131231: 41,
 98466: 42,
 98469: 43,
 32934: 44,
 65717: 45,
 98486: 46,
 98490: 47,
 32956: 48,
 98493: 49,
 131260: 50,
 32961: 51,
 131274: 52,
 131276: 53,
 131278: 54,
 207: 55,
 32983: 56,
 65758: 57,
 98527: 58,
 98540: 59,
 65776: 60,
 246: 61,
 65784: 62,
 250: 63,
 65789: 64,
 98559: 65,
 257: 66,
 131332: 67,
 33034: 68,
 270: 69,
 131346: 70,
 33051: 71,
 98596: 72,
 293: 73,
 131365: 74,
 297: 75,
 33081: 76,
 65851: 77,
 317: 78,
 131394: 79,
 33091: 80,
 98629: 81,
 131405: 82,
 131406: 83,
 33105: 84,
 346: 85,
 347: 86,
 131421: 87,
 98655: 88,
 358: 89,
 131433: 90,
 131437: 91,
 366: 92,
 33135: 93,
 131438: 94,
 369: 95,
 65918: 96,
 98686: 97,
 98688: 98,
 131457: 99,
 387: 100,
 98695: 101,
 393: 102,
 131466: 103,
 131476: 104,
 131481: 105,
 131483: 106,
 412: 107,
 33181: 108,
 131487: 109,
 33184: 110,
 421: 111,
 33189: 112,
 423: 113,
 65958: 114,
 98728: 115,
 33204: 116,
 33208: 117,
 33220: 118,
 131530: 119,
 470: 120,
 98780: 121,
 66022: 122,
 66024: 123,
 33259: 124,
 66040: 125,
 98811: 126,
 66047: 127,
 66048: 128,
 131584: 129,
 131587: 130,
 66059: 131,
 33307: 132,
 131614: 133,
 131619: 134,
 33318: 135,
 66087: 136,
 33322: 137,
 131629: 138,
 98864: 139,
 98870: 140,
 98874: 141,
 571: 142,
 131643: 143,
 33343: 144,
 66114: 145,
 131650: 146,
 33348: 147,
 585: 148,
 586: 149,
 33356: 150,
 98898: 151,
 98908: 152,
 66142: 153,
 33375: 154,
 608: 155,
 609: 156,
 613: 157,
 33383: 158,
 98920: 159,
 98923: 160,
 131697: 161,
 630: 162,
 631: 163,
 131703: 164,
 33401: 165,
 636: 166,
 98941: 167,
 66178: 168,
 66179: 169,
 647: 170,
 131720: 171,
 66200: 172,
 66203: 173,
 131740: 174,
 131745: 175,
 66210: 176,
 98982: 177,
 66225: 178,
 131761: 179,
 98998: 180,
 99004: 181,
 701: 182,
 131772: 183,
 66240: 184,
 66242: 185,
 709: 186,
 33482: 187,
 131786: 188,
 716: 189,
 33494: 190,
 66262: 191,
 728: 192,
 33501: 193,
 99039: 194,
 740: 195,
 743: 196,
 66281: 197,
 131828: 198,
 131835: 199,
 33533: 200,
 767: 201,
 66304: 202,
 774: 203,
 99078: 204,
 776: 205,
 66316: 206,
 66324: 207,
 99102: 208,
 801: 209,
 66337: 210,
 33574: 211,
 811: 212,
 33580: 213,
 99118: 214,
 33586: 215,
 131893: 216,
 131895: 217,
 66361: 218,
 131903: 219,
 131908: 220,
 131909: 221,
 33609: 222,
 842: 223,
 846: 224,
 99155: 225,
 855: 226,
 33623: 227,
 99163: 228,
 131933: 229,
 66400: 230,
 99170: 231,
 99174: 232,
 871: 233,
 66415: 234,
 131960: 235,
 891: 236,
 131964: 237,
 99198: 238,
 902: 239,
 99207: 240,
 909: 241,
 66454: 242,
 33689: 243,
 33696: 244,
 66469: 245,
 33712: 246,
 66481: 247,
 954: 248,
 33728: 249,
 66498: 250,
 132038: 251,
 33735: 252,
 968: 253,
 970: 254,
 99275: 255,
 132049: 256,
 981: 257,
 66532: 258,
 1000: 259,
 132072: 260,
 33772: 261,
 66543: 262,
 99312: 263,
 132081: 264,
 1010: 265,
 132089: 266,
 99326: 267,
 132094: 268,
 66561: 269,
 33802: 270,
 99341: 271,
 99346: 272,
 33817: 273,
 1051: 274,
 99359: 275,
 1056: 276,
 132135: 277,
 33832: 278,
 99370: 279,
 33840: 280,
 132145: 281,
 66612: 282,
 66616: 283,
 99385: 284,
 33856: 285,
 1092: 286,
 1094: 287,
 33863: 288,
 66634: 289,
 1112: 290,
 66648: 291,
 132184: 292,
 132186: 293,
 132194: 294,
 99430: 295,
 132209: 296,
 99447: 297,
 1153: 298,
 1154: 299,
 99457: 300,
 1164: 301,
 33932: 302,
 99473: 303,
 66715: 304,
 99484: 305,
 66718: 306,
 1184: 307,
 132265: 308,
 99498: 309,
 99502: 310,
 1199: 311,
 132271: 312,
 132274: 313,
 66740: 314,
 33973: 315,
 33980: 316,
 99517: 317,
 33984: 318,
 99521: 319,
 99522: 320,
 99523: 321,
 99524: 322,
 1221: 323,
 33990: 324,
 66762: 325,
 132309: 326,
 1243: 327,
 99548: 328,
 99550: 329,
 99551: 330,
 132320: 331,
 34021: 332,
 132330: 333,
 66809: 334,
 66812: 335,
 66818: 336,
 66824: 337,
 66826: 338,
 34061: 339,
 1295: 340,
 66833: 341,
 34066: 342,
 66835: 343,
 66836: 344,
 132385: 345,
 99619: 346,
 132391: 347,
 132392: 348,
 1322: 349,
 66858: 350,
 132402: 351,
 34102: 352,
 1338: 353,
 132414: 354,
 132418: 355,
 1349: 356,
 34123: 357,
 34126: 358,
 66897: 359,
 1371: 360,
 34139: 361,
 34142: 362,
 34155: 363,
 66928: 364,
 132465: 365,
 34162: 366,
 99710: 367,
 1410: 368,
 34178: 369,
 34179: 370,
 99715: 371,
 66951: 372,
 1418: 373,
 34186: 374,
 1420: 375,
 34188: 376,
 34190: 377,
 99733: 378,
 66966: 379,
 1432: 380,
 34201: 381,
 132508: 382,
 34206: 383,
 99747: 384,
 1445: 385,
 34213: 386,
 99753: 387,
 1452: 388,
 34223: 389,
 99772: 390,
 99780: 391,
 67014: 392,
 67016: 393,
 67021: 394,
 99795: 395,
 34261: 396,
 1506: 397,
 132581: 398,
 132583: 399,
 132585: 400,
 1514: 401,
 1515: 402,
 67052: 403,
 34288: 404,
 132598: 405,
 132601: 406,
 132602: 407,
 67067: 408,
 132605: 409,
 67074: 410,
 34312: 411,
 99854: 412,
 132628: 413,
 1559: 414,
 34333: 415,
 99870: 416,
 1567: 417,
 132638: 418,
 132642: 419,
 67110: 420,
 34343: 421,
 67112: 422,
 99882: 423,
 67116: 424,
 34349: 425,
 1587: 426,
 132663: 427,
 132666: 428,
 67133: 429,
 1601: 430,
 34381: 431,
 99929: 432,
 34394: 433,
 99936: 434,
 34401: 435,
 99940: 436,
 132711: 437,
 34408: 438,
 1643: 439,
 67180: 440,
 67184: 441,
 34418: 442,
 132725: 443,
 67195: 444,
 99967: 445,
 132735: 446,
 1671: 447,
 34439: 448,
 132746: 449,
 1677: 450,
 99984: 451,
 34451: 452,
 67223: 453,
 1714: 454,
 67251: 455,
 34484: 456,
 67252: 457,
 100019: 458,
 100022: 459,
 132788: 460,
 34493: 461,
 34494: 462,
 1728: 463,
 67266: 464,
 34503: 465,
 1740: 466,
 34510: 467,
 34514: 468,
 1747: 469,
 67282: 470,
 100051: 471,
 67287: 472,
 1754: 473,
 132827: 474,
 1762: 475,
 67302: 476,
 132845: 477,
 34556: 478,
 67324: 479,
 100106: 480,
 67339: 481,
 34575: 482,
 67345: 483,
 132881: 484,
 132883: 485,
 132886: 486,
 34583: 487,
 67351: 488,
 34586: 489,
 100133: 490,
 34600: 491,
 1836: 492,
 132913: 493,
 1848: 494,
 67386: 495,
 34619: 496,
 1853: 497,
 100164: 498,
 1863: 499,
 34631: 500,
 100168: 501,
 34636: 502,
 132946: 503,
 34649: 504,
 34650: 505,
 1886: 506,
 34655: 507,
 132972: 508,
 34669: 509,
 100208: 510,
 1905: 511,
 67442: 512,
 1907: 513,
 100212: 514,
 100213: 515,
 100215: 516,
 132985: 517,
 34682: 518,
 1930: 519,
 34699: 520,
 67476: 521,
 1941: 522,
 133017: 523,
 100253: 524,
 1965: 525,
 133039: 526,
 100272: 527,
 1971: 528,
 34742: 529,
 133046: 530,
 34749: 531,
 67517: 532,
 1983: 533,
 100285: 534,
 34757: 535,
 67526: 536,
 133071: 537,
 34769: 538,
 2003: 539,
 67543: 540,
 100312: 541,
 67545: 542,
 34784: 543,
 133088: 544,
 2023: 545,
 67561: 546,
 67562: 547,
 100332: 548,
 67568: 549,
 2037: 550,
 67574: 551,
 34809: 552,
 100348: 553,
 2046: 554,
 2050: 555,
 67586: 556,
 100357: 557,
 34822: 558,
 34825: 559,
 133132: 560,
 100365: 561,
 100366: 562,
 100368: 563,
 67601: 564,
 100370: 565,
 67603: 566,
 34836: 567,
 100372: 568,
 2070: 569,
 2071: 570,
 67608: 571,
 34847: 572,
 2083: 573,
 34855: 574,
 34862: 575,
 2098: 576,
 100404: 577,
 2106: 578,
 2112: 579,
 34881: 580,
 100417: 581,
 133186: 582,
 67656: 583,
 67657: 584,
 67665: 585,
 34898: 586,
 100437: 587,
 2137: 588,
 133213: 589,
 2157: 590,
 100463: 591,
 2160: 592,
 67697: 593,
 100470: 594,
 2170: 595,
 67708: 596,
 34953: 597,
 67721: 598,
 100491: 599,
 34961: 600,
 100505: 601,
 34970: 602,
 2208: 603,
 34980: 604,
 133291: 605,
 34994: 606,
 34998: 607,
 2231: 608,
 35003: 609,
 133308: 610,
 133309: 611,
 2241: 612,
 35010: 613,
 100555: 614,
 133323: 615,
 35021: 616,
 133328: 617,
 2258: 618,
 2260: 619,
 2268: 620,
 2269: 621,
 35036: 622,
 100577: 623,
 35049: 624,
 100585: 625,
 133354: 626,
 133356: 627,
 67824: 628,
 67825: 629,
 100595: 630,
 133364: 631,
 67829: 632,
 35062: 633,
 35064: 634,
 35065: 635,
 133371: 636,
 67838: 637,
 100613: 638,
 2310: 639,
 100617: 640,
 100622: 641,
 35090: 642,
 35097: 643,
 100634: 644,
 100638: 645,
 133409: 646,
 35108: 647,
 2343: 648,
 67880: 649,
 100648: 650,
 35114: 651,
 100649: 652,
 2348: 653,
 100651: 654,
 2351: 655,
 35120: 656,
 35127: 657,
 67897: 658,
 100668: 659,
 2366: 660,
 100673: 661,
 2373: 662,
 2377: 663,
 100693: 664,
 100696: 665,
 67930: 666,
 2396: 667,
 2397: 668,
 35166: 669,
 133474: 670,
 35175: 671,
 100711: 672,
 100712: 673,
 35178: 674,
 35189: 675,
 67960: 676,
 2432: 677,
 100737: 678,
 67978: 679,
 133517: 680,
 67984: 681,
 35217: 682,
 35226: 683,
 67995: 684,
 100765: 685,
 100777: 686,
 35243: 687,
 100780: 688,
 35245: 689,
 2482: 690,
 2483: 691,
 35250: 692,
 100790: 693,
 35257: 694,
 68025: 695,
 100800: 696,
 100803: 697,
 100804: 698,
 2501: 699,
 35269: 700,
 35271: 701,
 100805: 702,
 35281: 703,
 2516: 704,
 2517: 705,
 68059: 706,
 68062: 707,
 35308: 708,
 2543: 709,
 2557: 710,
 35330: 711,
 2567: 712,
 133643: 713,
 35351: 714,
 35355: 715,
 100894: 716,
 133666: 717,
 133683: 718,
 100926: 719,
 68160: 720,
 133696: 721,
 133698: 722,
 133699: 723,
 68166: 724,
 133702: 725,
 100937: 726,
 68179: 727,
 35414: 728,
 68182: 729,
 100952: 730,
 2649: 731,
 68188: 732,
 35423: 733,
 2656: 734,
 35429: 735,
 100968: 736,
 2668: 737,
 35438: 738,
 68213: 739,
 68214: 740,
 68220: 741,
 100991: 742,
 35459: 743,
 68232: 744,
 2710: 745,
 68249: 746,
 2717: 747,
 101025: 748,
 68259: 749,
 101028: 750,
 2731: 751,
 133810: 752,
 101043: 753,
 133812: 754,
 2741: 755,
 35509: 756,
 35513: 757,
 133820: 758,
 133824: 759,
 35521: 760,
 2756: 761,
 68292: 762,
 101062: 763,
 2761: 764,
 133833: 765,
 35537: 766,
 133842: 767,
 2771: 768,
 133871: 769,
 101107: 770,
 68340: 771,
 101109: 772,
 35575: 773,
 101112: 774,
 68350: 775,
 101118: 776,
 68357: 777,
 101126: 778,
 68366: 779,
 101135: 780,
 35600: 781,
 101139: 782,
 35608: 783,
 101145: 784,
 2842: 785,
 101154: 786,
 68388: 787,
 133924: 788,
 101164: 789,
 35630: 790,
 2863: 791,
 2865: 792,
 101170: 793,
 2867: 794,
 133949: 795,
 68414: 796,
 101186: 797,
 2897: 798,
 68438: 799,
 68441: 800,
 2908: 801,
 2914: 802,
 2924: 803,
 133999: 804,
 2929: 805,
 101233: 806,
 134001: 807,
 35700: 808,
 35704: 809,
 101241: 810,
 35708: 811,
 2944: 812,
 35715: 813,
 134022: 814,
 2958: 815,
 68496: 816,
 134035: 817,
 68500: 818,
 134037: 819,
 101273: 820,
 68506: 821,
 101274: 822,
 101281: 823,
 2987: 824,
 68525: 825,
 35760: 826,
 134079: 827,
 68544: 828,
 134082: 829,
 35779: 830,
 68557: 831,
 101328: 832,
 68561: 833,
 68563: 834,
 3028: 835,
 3032: 836,
 35803: 837,
 68574: 838,
 101344: 839,
 134125: 840,
 35833: 841,
 134137: 842,
 101371: 843,
 101372: 844,
 134143: 845,
 134155: 846,
 134158: 847,
 134162: 848,
 134174: 849,
 68642: 850,
 134180: 851,
 101419: 852,
 134209: 853,
 134214: 854,
 101451: 855,
 134219: 856,
 101457: 857,
 35926: 858,
 134232: 859,
 3170: 860,
 68709: 861,
 35944: 862,
 3178: 863,
 68716: 864,
 3183: 865,
 3196: 866,
 35965: 867,
 3200: 868,
 101504: 869,
 35972: 870,
 3206: 871,
 68743: 872,
 101514: 873,
 101518: 874,
 35984: 875,
 3217: 876,
 134289: 877,
 68758: 878,
 134298: 879,
 35996: 880,
 101535: 881,
 36001: 882,
 36002: 883,
 3235: 884,
 36006: 885,
 36014: 886,
 36016: 887,
 3250: 888,
 134322: 889,
 134327: 890,
 3256: 891,
 68795: 892,
 68802: 893,
 3267: 894,
 3268: 895,
 134339: 896,
 101576: 897,
 68811: 898,
 3276: 899,
 36047: 900,
 134351: 901,
 68817: 902,
 36050: 903,
 3283: 904,
 134357: 905,
 3288: 906,
 3292: 907,
 3294: 908,
 101610: 909,
 134379: 910,
 36081: 911,
 68850: 912,
 3317: 913,
 36092: 914,
 134400: 915,
 36097: 916,
 36098: 917,
 134401: 918,
 68868: 919,
 134404: 920,
 101645: 921,
 101651: 922,
 68891: 923,
 36127: 924,
 134433: 925,
 101669: 926,
 101674: 927,
 68912: 928,
 68913: 929,
 101684: 930,
 101695: 931,
 3396: 932,
 101702: 933,
 36177: 934,
 3423: 935,
 68960: 936,
 134496: 937,
 134498: 938,
 36200: 939,
 36203: 940,
 101741: 941,
 68979: 942,
 68984: 943,
 3449: 944,
 134520: 945,
 36220: 946,
 134524: 947,
 3456: 948,
 36224: 949,
 3460: 950,
 101764: 951,
 134534: 952,
 101767: 953,
 134537: 954,
 134546: 955,
 101784: 956,
 69020: 957,
 101788: 958,
 3486: 959,
 3489: 960,
 36262: 961,
 134566: 962,
 134571: 963,
 69039: 964,
 3512: 965,
 3513: 966,
 3514: 967,
 134592: 968,
 36290: 969,
 69063: 970,
 36307: 971,
 36309: 972,
 36311: 973,
 36312: 974,
 69079: 975,
 69081: 976,
 101860: 977,
 36328: 978,
 134636: 979,
 36333: 980,
 36334: 981,
 134640: 982,
 3570: 983,
 3575: 984,
 134652: 985,
 134656: 986,
 69123: 987,
 3588: 988,
 3591: 989,
 101900: 990,
 101903: 991,
 134675: 992,
 69147: 993,
 134686: 994,
 3617: 995,
 134689: 996,
 36390: 997,
 3624: 998,
 36393: 999,
 ...}

In [11]:
df_small.head()

     userId  movieId  rating  movie_idx
960      10        1     4.5          1
961      10       10     2.5         10
962      10       19     3.5         19
963      10       32     5.0         32
964      10       39     4.5         39

In [12]:
df_small['new_userId'] = df["userId"].map(new_user_id_map)
df_small['new_movieId'] = df["movie_idx"].map(new_movie_id_map)

In [13]:
df_small.tail(10)

          userId  movieId  rating  movie_idx  new_userId  new_movieId
19998286  138473     4701     4.0       4609      2012.0       1295.0
19998287  138473     4718     4.0       4626      2012.0       1298.0
19998288  138473     4886     5.0       4793      2012.0       1313.0
19998289  138473     4896     5.0       4803      2012.0       1315.0
19998290  138473     4963     5.0       4870      2012.0       1318.0
19998291  138473     4993     5.0       4900      2012.0       1323.0
19998292  138473     5349     3.0       5255      2012.0       1346.0
19998293  138473     5378     4.0       5284      2012.0       1349.0
19998295  138473     5449     4.0       5355      2012.0       1355.0
19998296  138473     5459     4.0       5365      2012.0       1356.0

In [14]:
print("max user id:", df_small.new_userId.max())
print("max movie id:", df_small.new_movieId.max())

print("small dataframe size:", len(df_small))

max user id: 7499.0
max movie id: 1499.0
small dataframe size: 3942236

In [15]:
df_small.to_csv('small_rating.csv', index=False)